.documentation {
    flex-grow: 1;
}

.documentation .tools-bar {
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools-bar .icon {
    margin: 0 1rem;
}