.menu {
    background-color: white;
    width: -webkit-fill-available;
    border-right: 1px solid #e2e2e2;
    width: 24%;
    animation: slideOut 0.3s ease-in;
}

.menu-hidden {
    width: 0%;
    animation: slideIn 0.3s ease-out;
}

@keyframes slideOut {
    0% {
        width: 0%;
    }

    100% {
        width: 24% !important;
        ;
    }
}

@keyframes slideIn {
    0% {
        width: 24%;
    }

    100% {
        width: 0% !important;
        ;
    }
}